body{
  text-align: center;
}
#content{
  font-size: 1.5em;
  color: white;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: 960px;
  /*min-height: 100px;*/
  margin: 0 auto;
}
#content div{
  background: #4c595f;
  padding: 30px;
}
#content div:nth-child(even){
  background: #777;
}
#city_name{
  font-size: 2em;
}
